.#{$ui-prefix}-masker{
  display: inline-block;
  &-handle{
    cursor: pointer;
    display: inline-block;
  }
  &-body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(100%);
    transition: all .3s;
    &.open{
      transform: translateY(0);
    }
  }

  &-mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .8);
  }
}
